<h2>Poggers, <%= name %></h2>

<%= form_with url: post_destiny_path, class: "form" do |f|%>
    
    <p>Name:</p>
    <%= f.text_field :name %>
    <p>Email:</p>
    <%= f.text_field :email %>
    <p>Mensagem</p>
    <%= f.text_area :mensagem %>
    <%= f.submit "Enviar"%>

<% end %>